body {
  background-color: #f7ebe8;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.nav {
  background-color: #444140;
  height: 5vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}


.nav .logo {
  font-size: 22px;
}

.nav a {
  display: inline-block;
  color: #fbfbfb;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav a:hover span {
  padding-bottom: 6px;
  border-bottom: 3px solid #DF612A;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    position: absolute;
    right: 0;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .nav.responsive {
    flex-direction: column;
    height: auto;
  }
  .nav.responsive a.logo {
    font-size: 22px;
    align-self: flex-start;
  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    display: inline-block;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}